h2 {
    color: darkgreen;
    font-family: Georgia;
    text-align: center;
}
h3 {
    font-family: Georgia;
    text-align: center;
}
a {
    text-decoration: none;
}
.you {
    text-transform: capitalize;
}
.might {
    text-transform: capitalize;
}
.also {
    
    text-transform: uppercase;
}
.like {
    text-transform: capitalize;
}
a:hover {
    text-decoration: underline;
}